.idRamka {
	   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 12px;
   line-height: 16px;
   color: green;
   text-align: center;
   text-transform: uppercase;
   font-weight: 300;
   padding: 20px 0;
   }